html, body {
  height: 100%; }
.container {
  width: 100%;
  height: 100%; }

.home .header {
  height: 100%;
  margin-bottom: -60px;
  text-align: center;
  box-sizing: border-box;
  background: #002244 url(../img/home-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.home .header .top {
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin: 0;
  width: 100%;
  height: 60px;
  background-color: #002244; }
.home .header .top .left {
  width: 40%;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-align: left;
  text-decoration: none;
  line-height: 60px;
  color: #bbbbbb;
  padding-left: 20px;
  float: left;
  display: inline-block; }
.home .header .content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #fff;
  margin: 0 auto 0 auto;
  padding-top: 180px;
  width: 100%;
  max-width: 800px; }
.home .header .content h4 {
  font-size: 2.8rem;
  letter-spacing: 0;
  text-shadow: -1px -1px 0 #231f20, 1px -1px 0 #231f20, -1px 1px 0 #231f20, 1px 1px 0 #231f20; }
.home .header .content h5 {
  font-size: 2.2rem;
  text-shadow: -1px -1px 0 #231f20, 1px -1px 0 #231f20, -1px 1px 0 #231f20, 1px 1px 0 #231f20; }

.home .header .content #social {
  width: 100%;
  height: 29px;
  margin-top: 24px;
  text-align: center;
}
.home .header .content #social a {
  padding: 0 10px 0 10px;
}


.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;
}
.docs-header {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 32px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #002244;
}
.docs-subheader {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: .2rem;
  text-transform: uppercase;
  color: #696c6f;
}
.docs-section p {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: .15rem;
  color: #696c6f;
}
.docs-section h5 {
  margin-bottom: 1.5rem;
  text-align: center;
  font-size: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  color: #002244;
}

.value-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0;
}


/* ----------  Signup Form Template  ---------- */

form .formRow {
  margin-bottom: 10px;
  float: left;
}
form button,
form input {
  height: 50px !important;
  line-height: 26px !important;
  font-family: 'Open Sans', sans-serif;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin: 0;
  float: left;
  display: inline-block;
}
form input {
  width: 378px;
  padding: 12px 10px !important;
  font-size: 15px;
  color: #373c44;
  border: 1px solid #cfd4db !important;
}
form input#postcode {
  width: 195px;
  margin-right: 10px;
}
form input::-webkit-input-placeholder {
  color: #c8ccd1;
}
form input:-moz-placeholder {
  color: #c8ccd1;
}
form input::-moz-placeholder {
  color: #c8ccd1;
}
form input:-ms-input-placeholder {
  color: #c8ccd1;
}
form input:focus {
  border-color: #b1b9c6;
  outline: none;
}
form input:focus::-webkit-input-placeholder {
  color: #acb3ba;
}
form input:focus:-moz-placeholder {
  color: #acb3ba;
}
form input:focus::-moz-placeholder {
  color: #acb3ba;
}
form input:focus:-ms-input-placeholder {
  color: #acb3ba;
}
form input.error {
  background: url('../img/cross.png') right center no-repeat;
  background-position: 356px center;
  color: #df452c;
}
form button {
  width: 174px;
  padding: 12px 15px;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-shadow: -1px -1px 0 #002549, 1px -1px 0 #002549, -1px 1px 0 #002549, 1px 1px 0 #002549;
  color: #ffffff;
  background: #00497c; /* Old browsers */
  background: -moz-linear-gradient(top, #00497c 0%, #002549 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #00497c 0%,#002549 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #00497c 0%,#002549 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00497c', endColorstr='#002549',GradientType=0 ); /* IE6-9 */
  border: 1px solid #005e97;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
form button:hover {
  color: #ffffff;
  background: #00497c;
  border: 1px solid #005e97;
}
form button:active,
form button:focus {
  color: #ffffff;
  background: #002549;
  border: 1px solid #00497c;
}


/* ----------  Join The Crew Form  ---------- */

#join {
  background: #b5b7b9;
}
#join .docs-subheader {
  margin-bottom: 3.5rem;
  color: #002244;
}
#join #joinForm {
  width: 380px;
  height: 180px;
  margin: 0 auto;
  clear: both;
}
#join #joinResponse {
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  width: 355px;
  height: 180px;
  line-height: 180px;
  padding-left: 25px;
  color: #9099A3;
  background: url('../img/tick.png') left center no-repeat;
  display: none;
}


/* ----------  Keep Me Posted Modal Form  ---------- */

a#button {
  height: 66px;
  margin-top: 10px;
  padding: 11px 25px 0 25px;
  line-height: 40px;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-shadow: -1px -1px 0 #002549, 1px -1px 0 #002549, -1px 1px 0 #002549, 1px 1px 0 #002549;
  color: #fff;
  background: #00497c; /* Old browsers */
  background: -moz-linear-gradient(top, #00497c 0%, #002549 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #00497c 0%,#002549 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #00497c 0%,#002549 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00497c', endColorstr='#002549',GradientType=0 ); /* IE6-9 */
  border: 1px solid #005e97;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
a#button:hover {
  background: #00497c;
}
a#button:active,
a#button:focus {
  background: #002549;
  border: 1px solid #00497c;
}

.modal.hide {
  display: none;
}
.modal-backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: #373c44;
}
.modal-backdrop.fade {
  opacity: 0;
}
.modal-backdrop, .modal-backdrop.fade.in {
  opacity: 0.3;
  filter: alpha(opacity=40);
}
.modal {
  text-align: left;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 200;
  width: 398px;
  margin: -17% 0 0 -250px;
  background-color: #FFF;
  z-index: 1000;
  -khtml-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 0 4px rgba(55, 60, 65, 0.1);
  -moz-box-shadow: 0 0 0 4px rgba(55, 60, 65, 0.1);
  -webkit-box-shadow: 0 0 0 4px rgba(55, 60, 65, 0.1);
  padding: 50px 50px 55px;
}
.modal a.close {
  position: absolute;
  top: 15px;
  right: 18px;
  padding: 5px 10px;
  color: #9099A3;
  text-decoration: none;
}
.modal a.close:hover {
  color: #5d6670;
}
.modal h1,
.modal h2 {
  margin: 0;
  padding: 0;
}
.modal h1 {
  font-size: 2.2rem;
  color: #373c44;
  margin-bottom: 20px;
}
.modal h2 {
  font-size: 14px;
  line-height: 1.5;
  color: #9099A3;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  width: 100%;
  border-bottom: 1px solid #ECEEF1;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.modal #subForm {
  margin-bottom: 0;
}
.modal #subForm #modalForm {
  width: 380px;
  height: 230px;
}
.modal #subForm #modalResponse {
  float: left;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  width: 355px;
  height: 230px;
  line-height: 230px;
  padding-left: 25px;
  color: #9099A3;
  background: url('../img/tick.png') left center no-repeat;
  display: none;
}

@media only screen and (max-width: 480px) {
  body {
    padding-top: 100px;
  }
  .modal {
    margin: 0;
    top: 0;
    left: 0;
    width: 80%;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 8%;
  }
  .modal form#subForm a.close {
    font-size: 18px;
    font-weight: bold;
  }
  .modal form#subForm h1 {
    line-height: 1;
    margin-bottom: 30px;
  }
  .modal form#subForm input {
    width: 94%;
    padding-left: 3%;
    padding-right: 3%;
  }
  .modal form#subForm input.error {
    background-position: 95% center;
  }
  .modal form#subForm button {
    float: left;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
  .modal form#subForm #response {
    font-size: 2.2rem;
    width: 100%;
    text-align: center;
    background-position: bottom center;
  }
}


.example-grid .column,
.example-grid .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem; }

.docs-example .row,
.docs-example.row,
.docs-example form {
  margin-bottom: 0; }
.docs-example h1,
.docs-example h2,
.docs-example h3,
.docs-example h4,
.docs-example h5,
.docs-example h6 {
  margin-bottom: 1rem; }
.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal; }
.code-example {
  margin-top: 1.5rem;
  margin-bottom: 0; }
.code-example-body {
  white-space: pre;
  word-wrap: break-word }
.example {
  position: relative;
  margin-top: 4rem; }
.example-header {
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: .5rem; }
.example-description {
  margin-bottom: 1.5rem; }
.example-screenshot-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #eee;
  height: 250px; }
.example-screenshot {
  width: 100%;
  height: auto; }
.example-screenshot.coming-soon {
  width: auto;
  position: absolute;
  background: #eee;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px; }
.navbar {
  display: none; }

/* Larger than phone */
@media (min-width: 550px) {
  .header {
 }
  .value-props {
    margin-top: 0;
    margin-bottom: 8rem; }
  .value-img {
    margin-bottom: 1.5rem; }
  .example-grid .column,
  .example-grid .columns {
    margin-bottom: 1.5rem; }
  .docs-section {
    padding: 6rem 0; }
  .example-send-yourself-copy {
    float: right;
    margin-top: 12px; }
  .example-screenshot-wrapper {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
    max-height: none; }
}

/* Larger than tablet */
@media (min-width: 750px) {
  /* Navbar */
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    background: #002244;
    z-index: 99;
    border-top: 1px solid #002244;
    border-bottom: 1px solid #002244; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
	width: 100%;
    margin-bottom: 0;
	text-align: center;
	list-style: none;
	display: table; }
  .navbar-item {
	margin-bottom: 0;
    position: relative;
    display: table-cell; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .2rem;
    text-decoration: none;
    line-height: 6.5rem;
    color: #bbbbbb; }
  .navbar-link.active {
    color: #ffffff; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 80%; }

  /* Popover */
  .popover.open {
    display: block;
  }
  .popover {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff;
    border: 1px solid #eee;
    border-radius: 4px;
    top: 92%;
    left: -50%;
    -webkit-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
       -moz-filter: drop-shadow(0 0 6px rgba(0,0,0,.1));
            filter: drop-shadow(0 0 6px rgba(0,0,0,.1)); }
  .popover-item:first-child .popover-link:after,
  .popover-item:first-child .popover-link:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none; }
  .popover-item:first-child .popover-link:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 10px;
    margin-left: -10px; }
  .popover-item:first-child .popover-link:before {
    border-color: rgba(238, 238, 238, 0);
    border-bottom-color: #eee;
    border-width: 11px;
    margin-left: -11px; }
  .popover-list {
    padding: 0;
    margin: 0;
    list-style: none; }
  .popover-item {
    padding: 0;
    margin: 0; }
  .popover-link {
    position: relative;
    color: #222;
    display: block;
    padding: 8px 20px;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.0rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: .1rem; }
  .popover-item:first-child .popover-link {
    border-radius: 4px 4px 0 0; }
  .popover-item:last-child .popover-link {
    border-radius: 0 0 4px 4px;
    border-bottom-width: 0; }
  .popover-link:hover {
    color: #fff;
    background: #33C3F0; }
  .popover-link:hover,
  .popover-item:first-child .popover-link:hover:after {
    border-bottom-color: #33C3F0; }
}
