<div id="leftPane">
  <aside>
    <h2>Help Centre
      <div class="logoContent">
        <i class="fa fa-question-circle"></i>
      </div>
    </h2>
    <ul class="top">
      <li>Can't find an answer in the documentation?</li>
      <li>
        Ask <a id="askSupport" class="askSupport noRedirect" href="mailto:c772676240e0bea1fa03f8bbf21edc26778efc65@incoming.intercom.io">BMS Support</a><a id="bmsSupport" style="display: none;" class="noRedirect" href="http://www.bmserp.com/contact" target="_blank">BMS Support</a> or contact your BMS Administrator
      </li>
    </ul>
    <ul class="top">
      <li>Have a problem that requires urgent attention?</li>
      <li>
        Call BMS Support on <a class="noRedirect" href="tel://0414239466" target="_blank">0414 239 466</a>
      </li>
    </ul>
    <ul>
      <li>
        <h3 class="menuToggle"><i class="fa fa-globe"></i> Core Features <i class="fa fa-angle-down right"></i></h3>
        <ul class="menuList" style="display: none;">
          <li class="{% if page.title contains 'Core - Logging In And Out' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/core-logging-in-and-out/">Logging in and out</a>
          </li>
          <li class="{% if page.title contains 'Core - Changing Your Details' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/core-changing-your-details/">Changing your details</a>
          </li>
          <li class="{% if page.title contains 'Core - Navigation And User Permissions' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/core-navigation-and-user-permissions/">Navigation and user permissions</a>
          </li>
          <li class="{% if page.title contains 'Core - Filters And Pagination' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/core-filters-and-pagination/">Filters and pagination</a>
          </li>
        </ul>
      </li>
      <li>
        <h3 class="menuToggle"><i class="fa fa-bullseye"></i> CRM Application <i class="fa fa-angle-down right"></i></h3>
        <ul class="menuList" style="display: none;">
          <li class="{% if page.title contains 'CRM - Finding Contacts' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/crm-finding-contacts/">Finding contacts</a>
          </li>
          <li class="{% if page.title contains 'CRM - Managing Contacts' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/crm-managing-contacts/">Managing contacts</a>
          </li>
          <li class="{% if page.title contains 'CRM - Updating Contact Details' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/crm-updating-contact-details/">Updating contact details</a>
          </li>
          <li class="{% if page.title contains 'CRM - Tagging Contacts' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/crm-tagging-contacts/">Tagging contacts</a>
          </li>
          <li class="{% if page.title contains 'CRM - Recording Activities' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/crm-recording-activities/">Recording activities</a>
          </li>
          <li class="{% if page.title contains 'CRM - Working With Tasks' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/crm-working-with-tasks/">Working with tasks</a>
          </li>
          <li class="{% if page.title contains 'CRM - Managing Opportunities' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/crm-managing-opportunities/">Managing opportunities</a>
          </li>
          <li class="{% if page.title contains 'CRM - Creating Campaigns' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/crm-creating-campaigns/">Creating campaigns</a>
          </li>
        </ul>
      </li>
      <li>
        <h3 class="menuToggle"><i class="fa fa-retweet"></i> Billing Application <i class="fa fa-angle-down right"></i></h3>
        <ul class="menuList" style="display: none;">
          <li class="{% if page.title contains 'Billing - Managing Customers' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/billing-managing-customers/">Managing customers</a>
          </li>
          <li class="{% if page.title contains 'Billing - Tracking Assets' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/billing-tracking-assets/">Tracking assets</a>
          </li>
          <li class="{% if page.title contains 'Billing - Creating Contracts' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/billing-creating-contracts/">Creating contracts</a>
          </li>
          <li class="{% if page.title contains 'Billing - Billings And Transactions' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/billing-billings-and-transactions/">Billings and transactions</a>
          </li>
          <li class="{% if page.title contains 'Billing - Generating Invoices' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/billing-generating-invoices/">Generating invoices</a>
          </li>
          <li class="{% if page.title contains 'Billing - Service And Finance Agents' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/billing-service-and-finance-agents/">Service and finance agents</a>
          </li>
        </ul>
      </li>
      <li>
        <h3 class="menuToggle"><i class="fa fa-truck"></i> Stock Application <i class="fa fa-angle-down right"></i></h3>
        <ul class="menuList" style="display: none;">
          <li class="{% if page.title contains 'Stock - Managing Warehouses' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/stock-managing-warehouses/">Managing warehouses</a>
          </li>
          <li class="{% if page.title contains 'Stock - Placing Orders' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/stock-placing-orders/">Placing orders</a>
          </li>
          <li class="{% if page.title contains 'Stock - Order Fulfillment' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/stock-order-fulfillment/">Order fulfillment</a>
          </li>
          <li class="{% if page.title contains 'Stock - Processing Invoices' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/stock-processing-invoices/">Processing invoices</a>
          </li>
          <li class="{% if page.title contains 'Stock - Maintaining Businesses' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/stock-maintaining-businesses/">Maintaining businesses</a>
          </li>
        </ul>
      </li>
      <li>
        <h3 class="menuToggle"><i class="fa fa-wrench"></i> Service Application <i class="fa fa-angle-down right"></i></h3>
        <ul class="menuList" style="display: none;">
          <li class="{% if page.title contains 'Service - Jobs And Activities' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/service-jobs-and-activities/">Jobs and activities</a>
          </li>
          <li class="{% if page.title contains 'Service - Raising Supply Orders' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/service-raising-supply-orders/">Raising supply orders</a>
          </li>
          <li class="{% if page.title contains 'Service - Managing Customers' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/service-managing-customers/">Managing customers</a>
          </li>
          <li class="{% if page.title contains 'Service - Tracking Assets' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/service-tracking-assets/">Tracking assets</a>
          </li>
          <li class="{% if page.title contains 'Service - Agents And Engineers' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/service-agents-and-engineers/">Agents and engineers</a>
          </li>
          <li class="{% if page.title contains 'Service - Generating Invoices' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/service-generating-invoices/">Generating invoices</a>
          </li>
        </ul>
      </li>
      <li>
        <h3 class="menuToggle"><i class="fa fa-lock"></i> Admin Tools <i class="fa fa-angle-down right"></i></h3>
        <ul class="menuList" style="display: none;">
          <li class="{% if page.title contains 'Admin - Creating User Accounts' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/admin-creating-user-accounts/">Creating user accounts</a>
          </li>
          <li class="{% if page.title contains 'Admin - Entity And Document Settings' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/admin-entity-and-document-settings/">Entity and document settings</a>
          </li>
          <li class="{% if page.title contains 'Admin - Configuring Settings' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/admin-configuring-settings/">Configuring settings</a>
          </li>
          <li class="{% if page.title contains 'Admin - Background Jobs' %}current{% endif %}">
            <a href="{{ site.baseurl }}/docs/admin-background-jobs/">Background jobs</a>
          </li>
        </ul>
      </li>
      <!-- <h3>EXTENSIONS</h3> -->
      <!-- <h3>INTEGRATIONS</h3> -->
    </ul>
  </aside>
</div>
