<div class="section-nav">
  <div class="left align-right">
    {% if page.prev_section != null %}
      <a href="{{ site.baseurl }}/docs/{{ page.prev_section }}/" class="prev">
        <i class="fa fa-arrow-left"></i>
        Prev Document
      </a>
    {% else %}
      <span class="prev disabled">
        <i class="fa fa-arrow-left"></i>
        Prev Document
      </span>
    {% endif %}
  </div>
  <div class="right align-left">
    {% if page.next_section != null %}
      <a href="{{ site.baseurl }}/docs/{{ page.next_section }}/" class="next">
        Next Document
        <i class="fa fa-arrow-right"></i>
      </a>
    {% else %}
      <span class="next disabled">
        Next Document
        <i class="fa fa-arrow-right"></i>
      </span>
    {% endif %}
  </div>
  <div class="clear"></div>
</div>

