<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BODYROW - {{ page.title }}</title>
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="css/normalize.css">
  <link rel="stylesheet" type="text/css" href="css/skeleton.css">
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
  <script type="text/javascript" src="js/site.js"></script>
  <script type="text/javascript" src="js/modal.js"></script>
	<script type="text/javascript">
		$(function () {
			$('#subForm').submit(function (e) {
				e.preventDefault();
				$('#email').removeClass();
				$('button').fadeTo(200,0.5);
				$.getJSON(
				this.action + "?callback=?",
				$(this).serialize(),
				function (data) {
					$('button').stop().fadeTo(200,1);
					if (data.Status === 400) { $('#subForm #email').addClass('error'); } else { $('#modalForm').hide(); $('#response').show(); }
				});
			});
      $('#joinForm').submit(function (e) {
				e.preventDefault();
				$('#email').removeClass();
				$('button').fadeTo(200,0.5);
				$.getJSON(
				this.action + "?callback=?",
				$(this).serialize(),
				function (data) {
					$('button').stop().fadeTo(200,1);
					if (data.Status === 400) { $('#joinForm #email').addClass('error'); } else { $('#joinForm').hide(); $('#joinResponse').show(); }
				});
			});
		});
	</script>
  <link rel="icon" type="image/png" href="img/favicon.png" />
</head>
