---
layout: default
---

  <section class="docs">
    <div class="grid">
      
      {% include docs_contents.html %}
      
      <div id="rightPane">
        <div id="contentScroller">
          <div class="contentWidget clear">
            {% include header.html %}
          </div>
          <div class="innerContent">
            <article>
              <h1>{{ page.title }}</h1>
              {{ content }}
              {% include section_nav.html %}
            </article>
            {% include footer.html %}
          </div>
        </div>
      </div>

      <div class="clear"></div>

    </div>
  </section>
